<div ng-app="bikeApp">
  <div class="jumbotron slickBikeHeader">
    <img src="../assets/images/slickbikeslogo.png" />
  </div>

  <div class="col-md-12" ng-app="bikeDisplayTable" ng-controller="BikeDisplayController">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title newBikeFormTitle">Bike Stock</h3>
        <div class="newBikeBtnDiv">
          <input type="button" class="modalBtn btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="clearBikeForm()" value="Add New Bike" />
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Bike Type</th>
            <th>Quantity On Hand</th>
            <th>Cost</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let bike of apiValues">
            <td>{{bike.id}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.description}}</td>
            <td>{{ bikeTypes[bike.bikeTypeId -1].description }}</td>
            <td>{{bike.quantityOnHand}}</td>
            <td>{{bike.price}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button value="{{bike.id}}" ng-click="GetBike($event)" style="border-right: 1px solid black" type="button" class="btn btn-secondary btn-sm">Edit</button>
                <button value="{{bike.id}}" ng-click="DeleteBike($event)" style="border-left: 1px solid black" type="button" class="btn btn-secondary btn-sm">Delete</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" ng-controller="BikeController">
        <form ng-submit="SaveBike($event)">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel" style="display:inline-block">Bike Form</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body _bikeForm">
            <table class="newBikeTable" style="margin:auto">
              <tr>
                <td>
                  <label>Bike Model</label>
                </td>
                <td>
                  <input type="text" class="_bikeModel" ng-model="bike.Model" />
                </td>
              </tr>
              <tr>
                <td>
                  <label>Type</label>
                </td>
                <td>
                  <select class="_type" ng-model="bike.BikeTypeId">
                    <option value="">Please Select</option>
                    <option *ngFor="let type of bikeTypes" value="{{type.id}}">{{type.description}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Cost</label>
                </td>
                <td>
                  <input type="text" class="_price" ng-model="bike.Price" />
                </td>
              </tr>
              <tr>
                <td>
                  <label>Description</label>
                </td>
                <td>
                  <!--<input type="text" class="_description" ng-model="bike.Description" />-->
                  <textarea class="_description" ng-model="bike.Description"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Quantity on Hand</label>
                </td>
                <td>
                  <input type="text" class="_qoh" ng-model="bike.QuantityOnHand" />
                </td>
              </tr>
            </table>
            <input type="hidden" class="_bikeId" ng-model="bike.Id" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
