<div class="jumbotron" style="text-align: center">
  <img src="../assets/images/slickbikeslogo.png" />

</div>

<div class="col-md-8">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Bike Stock</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Bike Type</th>
          <th>Quantity On Hand</th>
          <th>Cost</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let bike of apiValues">
          <td>{{bike.id}}</td>
          <td>{{bike.model}}</td>
          <td>{{bike.description}}</td>
          <td>{{bike.bikeType}}</td>
          <td>{{bike.qoh}}</td>
          <td>{{bike.price}}</td>
          <td>
            <select>
              <option value="-1">Actions</option>
              <option value="{{bike.id}}">Delete</option>
              <option value="{{bike.id}}">Edit</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="col-md-4">
  <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Add A Bike</button>
</div>

<!-- Modal -->
<div ng-app="bikeForm" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-controller="BikeController">
      <form ng-submit="AddBike()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bike Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Bike Model</label>
          <input type="text" ng-model="bike.Model" />
          <br />
          <label>Type</label>
          <input type="text" ng-model="bike.BikeType" />
          <br />
          <label>Cost</label>
          <input type="text" ng-model="bike.Price" />
          <br />
          <label>Description</label>
          <input type="text" ng-model="bike.Description" />
          <br />
          <label>Quantity on Hand</label>
          <input type="text" ng-model="bike.Qoh" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
