<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title newBikeFormTitle">Bike Stock</h3>
    <div class="newBikeBtnDiv">
      <input type="button" class="modalBtn btn btn-primary btn-sm" data-toggle="modal"
             data-target="#myModal" onclick="clearBikeForm(); disableBtn()" value="Add New Bike" />
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Bike Type</th>
        <th>Quantity On Hand</th>
        <th>Cost</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="bike in bikes">
        <td>{{bike.id}}</td>
        <td>{{bike.model}}</td>
        <td>{{bike.description}}</td>
        <td>{{bike.bikeType.description}}</td>
        <td>{{bike.quantityOnHand}}</td>
        <td>{{bike.price}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button value="{{bike.id}}" ng-click="GetBike($event)" style="border-right: 1px solid black" type="button" class="btn btn-secondary btn-sm">Edit</button>
            <button value="{{bike.id}}" ng-click="DeleteBike($event)" style="border-left: 1px solid black" type="button" class="btn btn-secondary btn-sm">Delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
